.card {
	picture {
		padding-top: 56%;
	}

	button {
		all: unset;
		display: none;
	}

	.dark & {
		background-color: $black_1;

		a {
			color: $white !important;
		}
	}
}

.cards__item {
	@include bp($lg, min) {
		width: 50%;
	}
}
