$font: 'сommissioner', sans-serif;
$font_path: '../fonts/';

@include font_face('Commissioner-Regular', 'сommissioner', $font_path, 400);
@include font_face('Commissioner-Bold', 'сommissioner', $font_path, 700);

/*--------------------------
----------------------------
Customize / Color
----------------------------
---------------------------- */
$black: #292929;
$white: #fff;

$gray-100: #eeeeee;
$gray-200: #ebebeb;
$orange: #ed7135;

$secondary: #666666;
$primary: $orange;

/*--------------------------
----------------------------
Layout / Breakpoints
----------------------------
---------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;

$grid-breakpoints: (
	xs: 0,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
	xxl: $xxl,
);
/*--------------------------
----------------------------
container width
----------------------------
---------------------------- */

$container-max-widths: (
	sm: 740px,
	md: 760px,
	lg: 960px,
	xl: 1140px,
	xxl: 1512px,
) !default;

/*--------------------------
----------------------------
Layout / Grid
----------------------------
---------------------------- */

$grid-gutter-width: 1.5rem;
/*--------------------------
----------------------------
Margin negative on
----------------------------
---------------------------- */
$enable-negative-margins: true;
/*--------------------------
----------------------------
Z-index
----------------------------
---------------------------- */

$zindex-levels: (
	n1: -1,
	0: 0,
	1: 1,
	2: 2,
	3: 3,
);

/*--------------------------
----------------------------
Content / Typography
----------------------------
---------------------------- */

$headings-font-weight: 400;
$display-font-weight: 400;
$small-font-size: 1rem;

/*--------------------------
----------------------------
Content / Tables
----------------------------
---------------------------- */

$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1.5rem;

$table-bg: white;

$table-th-font-weight: 700;

/*--------------------------
----------------------------
Components / Alerts
----------------------------
---------------------------- */

$alert-margin-bottom: 2rem;

/*--------------------------
----------------------------
Components / Badges
----------------------------
---------------------------- */

$badge-font-size: 1rem;
$badge-font-weight: normal;
$badge-color: $secondary;
$badge-padding-y: 0.5rem;
$badge-padding-x: 0.75rem;
$badge-border-radius: 0.5rem;

/*--------------------------
----------------------------
Components / Buttons
----------------------------
---------------------------- */

$btn-border-radius: 0.5rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$btn-font-size: 1rem;
$btn-line-height: 1.5;

$btn-outline-secondary-border-color: $gray-200;

/*--------------------------
----------------------------
Components / Forms
----------------------------
---------------------------- */

$input-font-size: 1rem;

$input-height: 2.5rem;
$input-padding-y: 0.55rem;
$input-color: $black;
$input-bg: $gray-100;
$input-border-color: none;
$input-focus-color: $orange;
$input-box-shadow: none;

/*--------------------------
	----------------------------
	Components / Cards
	----------------------------
	---------------------------- */

$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;
$card-border-width: 1px;
$card-border-color: $gray-100;
$card-border-radius: 0.5rem;
$card-inner-border-radius: 0;

/*--------------------------
----------------------------
Components / Navbar
----------------------------
---------------------------- */

$navbar-padding-y: 0.9rem;
$navbar-light-color: $gray-100;
$navbar-light-hover-color: $primary;

$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;

$nav-link-padding-x: 0;
$nav-link-padding-y: 0;
$navbar-nav-link-padding-x: 0;
$nav-link-font-size: 1rem;
$nav-link-height: 1.5;

/*--------------------------
----------------------------
Components / Offcanvas
----------------------------
---------------------------- */

$offcanvas-border-width: 0;

/*--------------------------
----------------------------
Utilities / Text
----------------------------
---------------------------- */

$font-family-base: $font;
$font-size-base: 1.125rem;
$line-height-base: 1.4;
$paragraph-margin-bottom: 1.5rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

$headings-line-height: 1;
$headings-font-weight: 700;

/*--------------------------
----------------------------
Utilities / Borders
----------------------------
---------------------------- */

$border-radius: 0.5rem;
$border-radius-sm: 1rem;
$border-radius-lg: 5.75rem;
$border-color: $gray-100;

/*--------------------------
----------------------------
Utilities / Spacing
----------------------------
---------------------------- */

$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	//4px
	2: $spacer * 0.5,
	//8px
	3: $spacer * 0.75,
	//12px
	4: $spacer,
	//16px
	5: $spacer * 1.25,
	//20px
	6: $spacer * 1.5,
	//24px
	7: $spacer * 2,
	//32px
	8: $spacer * 2.5,
	//40px
	9: $spacer * 3.25,
	//52px
	10: $spacer * 3.75,
	//60px
	11: $spacer * 5.25,
	//84px
	12: $spacer * 7,
	//112px
	13: $spacer * 7.75,
	//124px
	14: $spacer * 8.75,
	//140px
	15: $spacer * 10,
	//160px
	16: $spacer * 12.5,
	//200px
	17: $spacer * 15,
	//240px
);
